.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid lightblue;
    padding: 20px 20px;
    /* position: fixed;
    bottom: 0; */
    background-color: whitesmoke;
    margin: 10px 0px;
}

.footer__item {
    flex-basis: 30%;
    text-align: center;
}

.footer__left {
    flex-basis: 30%;
    text-align: left;
    padding: 10px;
}

.footer__left img {
    width: 75px;
    padding: 0px;
}

.footer__name {
    text-align: center;
    margin: 0px;
