.footer {
  display: flex;
  flex-direction: row;
  border-top: 3px solid lightblue;
  padding: 0px 10px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: whitesmoke;
}

.footer__left {
  align-self: center;
  flex-basis: 18%;
  text-align: left;
  padding-top: 12px;
  margin: 0px;
}

.footer__left img {
  width: 125px;
  text-align: left;
  padding-left: 30px;
  padding-bottom: 5px;
}
 
.footer__middle1 {
  min-width: fit-content;
  flex-basis: 16%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: center;
  margin: auto 0px;
  text-align: center;
}

.userOrAll {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.userList {
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
  white-space: nowrap;
  color: rgb(124, 212, 223);
  background-color: white;
  border: 3px solid lightgray;
  border-radius: 15px;
  padding: 5px 15px; 
  margin: 5px 10px; 
}

.allUserList {
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
  white-space: nowrap;
  color: rgb(124, 212, 223);
  background-color: white;
  border: 3px solid lightgray;
  border-radius: 15px;
  padding: 5px 15px; 
  margin: 5px 10px; 
}

.footer__middle2 {
  flex-basis: 31%;
  white-space: nowrap;
  text-align: center;
} 

.post-count {
  white-space: nowrap;
}

.giffy {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  margin-top: 25px;
}

.copyright {
  margin-top: 20px;
  text-align: center;
}

.footer__right {
  flex-basis: 24%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: right;
  margin: auto 0px;
}

.col1 {
  text-align: right;
  padding: 10px 10px 0px 0px;
  white-space: nowrap;

}

.col2 {
  text-align: center;
}

.col3 {
  display: inline-flex;
  text-align: left;
  padding: 10px 0px 0px 10px;
  flex-wrap: nowrap;
  /* margin-right: 40px; */
}

/************************************/

/* dropup button styling */
.menu-btn {
  font-size: 22px;
  font-weight: bolder;
  white-space: nowrap;
  min-width: 130px;
  color: rgb(124, 212, 223);
  background-color: white;
  border: 3px solid lightgray;
  border-radius: 15px;
  padding: 5px;
}

.dropup-menu {
  position: relative;
  display: inline-block;
}
.menu-content {
  display: none; /* keeps dropup hidden until hovered */
  position: absolute;
  bottom: 50px;
  background-color: whitesmoke;
  min-width: 130px;
  z-index: 1;
}
.links {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-weight: bolder;
}
.links:hover {
  background-color: powderblue;
}

/* this is what makes the dropup menu appear */
.dropup-menu:hover .menu-content {
  display: block;
}

.dropup-menu:hover .menu-btn {
  background-color: rgb(235, 235, 235);
}