@import "navigation.css";
@import "footer.css";
@import "feed.css";
@import "post.css";
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
/*Typography
--------------------------------------------------------------*/

body, button, input, select, textarea {
    color: #404040;
    font-family: "Arial", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    padding: 20px;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Patua One", serif;
    letter-spacing: 2px;
}

.post {
    width: 500px;
    padding: 10px;
    margin-bottom: 20px;
}

.post h2 {
    font-size: 28px;
    padding: 0px;
    margin: 0px;
}

.post__image {
    border: 5px solid darkturquoise;
    border-radius: 10px;
}

.details {
    display: flex;
    flex-direction: row;
}

.details__info {
    font-weight: 100;
    padding-bottom: 10px;
}

.details__text {
    font-weight: 600;
    padding-right: 10px;
}

.details__user {
    font-weight: 400;
    padding: 0px;
}

.details__user a {
    color: pink;
    font-weight: 400;
    padding: 0px;
}

.details__when {
    font-weight: 400;
    padding-left: 5px;
}

.actionIcon {
    height: 1.2em;
    margin: 0.5em 0.5em;
    cursor: pointer;
}

.highlight {
    border-color: purple;
}

.fakeLink {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    background: none!important;
    border: none;
    cursor: pointer;
}

.fakeLink:hover {
    font-weight: bold;
}

.loginForm {
    margin: 0 25%;
}

/* dad jokes button */
.jokes-btn {
    background-color: pink;
    border: 3px solid PaleVioletRed;
    border-radius: 15px;
    font-weight: 600;
    padding: 10px;
    margin: 0px;
}