@import "navigation.css";
@import "footer.css";
@import "feed.css";
@import "post.css";

/* Typography */

/* making body:flex, min-height:100vh, & main flex:1 makes footer stay at bottom */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    color: #404040;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

button {
    color: #404040;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 0px;
}

input, select, textarea {
    width: 100%;
    color: #404040;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    text-align: left;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "PT Serif Caption", serif;
    letter-spacing: 2px;
}

header {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
}

.giffygram {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: URL("../images/peanutbg.png");
    background-repeat: repeat;
    height: 100%;
}

.login-btns, .registration-btns {
    text-align: center;
}

.flex-container {
    width: 68%;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 172px;
    margin-bottom: 160px;
}

#title {
    align-self: center;
    width: 580px;
    background-color: powderblue;
    border-radius: 15px;
    padding: 0px;
    margin: 30px;
}

#title h3 {
    padding: 10px 0px;
    margin: 0px;
}

.center {
    font-size: 36px;
    text-align: center;
}

/* dad jokes button */
.the-jokes {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 560px;
    background-color: #EDF9FB;
    border-radius: 15px;
    padding: 20px 0px;
    margin: 40px 0px;
}

.jokes-btn {
    align-self: center;
    width: 300px;
    font-size: 22px;
    font-weight: bolder;
    color: rgb(124, 212, 223);
    background-color: white;
    border: 3px solid lightgray;
    border-radius: 15px;
    padding: 10px 0px;
    margin: 20px 0px;
}

.jokes {
    align-self: center;
    text-align: center;
    width: 500px;
    white-space: wrap;
}

.the-jokes:hover .jokes-btn {
    background-color: rgb(249, 249, 249);
  }
/* end of dadjokes */

/* start of post styling */
.postList {
    align-self: center;
    margin-bottom: 20px;
}

.post {
    width: 580px;
    padding: 20px 0px 25px 0px;
    margin-bottom: 40px;
    background-color: #EDF9FB;
    border-radius: 15px;
}

.post__title {
    padding: 0px;
    margin: 10px 0px;
}

.post h2 {
    font-size: 24px;
    text-align: left;
    padding: 0px;
    margin-bottom: 10px;
}

/* post image styling */
.image-holder {
    width: 488px;
    text-align: center;
    margin: auto;
}

.post__image {
    text-align: center;
    width: 96%;
    border: 8px solid powderblue;
    border-radius: 15px;
    margin: 10px auto;
}
/* post image styling ends */

/* details about post */
.details {
    display: flex;
    flex-direction: row;
}

/* post description text */
.details__info {
    font-weight: 100;
    text-align: justify;
    padding: 10px 40px 20px 38px;
}

/* "Posted By" field */
.details__text {
    font-weight: 600;
    margin-left: 40px;
    margin-right: 10px;
}

/* "User #" field */
.details__user a {
    color: PaleVioletRed;
    font-weight: 400;
    padding: 0px;
    margin: 0px 5px;
}

.details__when {
    font-weight: 400;
    margin-left: 5px;
}

.actionIcon {
    height: 20px;
    margin: 10px;
    cursor: pointer;
}
/* end of post styling */

.highlight {
    border-color: purple;
}