@import "navigation.css";
@import "footer.css";
@import "feed.css";
@import "post.css";
/* @import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One"); */

/* Typography */

body, button, input, select, textarea {
    color: #404040;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "PT Serif Caption", serif;
    letter-spacing: 2px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.giffygram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.flex-container {
    width: 80%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 152px;
    margin-bottom: 175px;
}

.center {
    font-size: 36px;
    text-align: center;
}

/* dad jokes button */
.the-jokes {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 560px;
    background-color: #EDF9FB;
    border-radius: 15px;
    padding: 20px 0px;
    margin: 40px 0px;
}

.jokes-btn {
    align-self: center;
    width: 300px;
    font-size: 22px;
    font-weight: bolder;
    color: rgb(124, 212, 223);
    background-color: white;
    border: 3px solid lightgray;
    border-radius: 15px;
    padding: 10px 0px;
    margin: 20px 0px;
}

.jokes {
    align-self: center;
    text-align: center;
    width: 500px;
    white-space: wrap;
}

.the-jokes:hover .jokes-btn {
    background-color: rgb(249, 249, 249);
  }
/* end of dadjokes */

/* start of post styling */
.postList {
    align-self: center;
}

.post {
    width: 500px;
    padding: 30px;
    margin-bottom: 20px;
    background-color: #EDF9FB;
    border-radius: 15px;
}

.post__title {
    padding: 0px;
    margin: 0px;
}

.post h2 {
    font-size: 24px;
    text-align: left;
    padding: 0px;
    margin-bottom: 10px;
}

.post__image {
    border: 8px solid powderblue;
    border-radius: 15px;
    margin: 10px 0px;
}

.details {
    display: flex;
    flex-direction: row;
}

.details__info {
    font-weight: 100;
    text-align: justify;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.details__text {
    font-weight: 600;
    padding-right: 10px;
}

.details__user {
    font-weight: 400;
    padding: 0px;
}

.details__user a {
    color: PaleVioletRed;
    font-weight: 400;
    padding: 0px;
}

.details__when {
    font-weight: 400;
    padding-left: 5px;
}

.actionIcon {
    height: 20px;
    margin: 10px;
    cursor: pointer;
}
/* end of post styling */

.highlight {
    border-color: purple;
}

.loginForm {
    margin: 0px;
}