.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-bottom: 1px solid lightblue;
    padding: 20px;
    width: 100%;
    background-color: whitesmoke;
}

.navigation__search {
    margin: auto auto;
}

.navigation__left {
    text-align: left;
    margin: auto auto;
}

.navigation__right {
    text-align: right;
    margin: auto auto;
}

.navigation__name {
    margin: auto auto;
    font-size: 26px;
}

.navigation__icon img {
    width: 75px;
}


.navigation__message {
    /* margin-left: auto;
    margin-right: 30px; */
    display: flex;
    flex-direction: row;
    /* position: relative; */
}

.navigation__message > img {
    height: 60px;
}

/* .notification__count{
    background-color:goldenrod;
    font-size: small;
    position: absolute;
    padding:2px;
    top: 5px;
    left: 30px;
    min-width: 20px;
    text-align: center;
    border-radius: 25px;
} */

.navigation__messageItem {
    /* flex: 1; */
}

/* .navigation__logout {
    margin-right: 30px;
} */

#directMessageIcon {
    cursor: pointer;
}