.entry-form {
display: flex;
flex-direction: row;
justify-content: center;
}

.new-post {
    width: 500px;
    text-align: center;
    padding: 0px 30px 20px 30px;
    margin: 30px 0px 20px 0px;
    background-color: #EDF9FB;
    border-radius: 15px;
}

.add-post h2 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    padding: 0px;
    margin: 15px;
}

.entry-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

.new-entry-title {
    width: 490px;
    text-align: left;
}

.new-entry-url {
    width: 490px;
    text-align: left;
}

.new-entry-desc {
    width: 492px;
    text-align: left;
}

.new-post__input {
    width: 100%;
    text-align: left;
    padding-left: 5px;
    margin: 10px 0px 0px 0px;
}

/* submit & cancel buttons */
.new-entry-btns {
    text-align: center;
}

.post-submit {
    font-size: 16px;
    font-weight: bolder;
    white-space: nowrap;
    color: rgb(124, 212, 223);
    background-color: white;
    border: 3px solid lightgray;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 15px 5px 0px 5px;
}

.post-cancel {
    font-size: 16px;
    font-weight: bolder;
    white-space: nowrap;
    color: rgb(124, 212, 223);
    background-color: white;
    border: 3px solid lightgray;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 15px 5px 0px 5px;
}

.post-btn {
    font-size: 16px;
    font-weight: bolder;
    white-space: nowrap;
    color: rgb(124, 212, 223);
    background-color: white;
    border: 3px solid lightgray;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 15px 5px 0px 5px;
}



/* .miniMode {
    padding: 1rem;
    margin: 0 25%;
    border: 1px dashed slategrey;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
} */

/* .newPost {
    margin: 0 25%;
}

.newPost__input {
    width: 30rem;
    margin: 0.5rem 0;
}

.newPost__description {
    width: 100%;
    height: 5em;
} */

.newPost__drop {
    padding: 1rem;
    color: gray;
    font-size: 1rem;
    border: 1px dotted lightgrey;
    text-align: center;
}

.newPost__upload {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75rem 0 0 0;
}

.newPost__fileUpload {
    flex-basis: 30%;
}

.newPost__uploadPrompt {
    flex-basis: 50%;
}

.newPost__plus {
    font-size: 6rem;
}

/* .post {
    margin: 0 25%;
    flex-basis: 50%;
} */

/* .post__image {
    width: 100%;
} */

.post__actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.post__tagline {
    font-size: 1.0em;
    margin: 1em 0 0.5em 0;
}

.post__remark {
    font-size: 2em;
    margin: 1em 0 0.5em 0;
}

